<section class="widget-tags widget-item layout-margin content-padding--primary soft-size--large soft-style--box">
  <div class="widget-title">
    <%- partial("../_svg/icon-link.svg") %>
    <span>LINK</span>
  </div>
  <div class="widget-body">
    <div class="tags-cloud">
        <% for (var i in theme.link) { %>
          <a href="<%= theme.link[i].link %>" class="tags-cloud-0">
            <%= theme.link[i].name %>
          </a>
        <% } %>
    </div>
  </div>
</section>
